.version.index /* version checker */
{
	color: #0000E2;
	background-color: #E78038;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 896px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -83px;
	margin-bottom: -8px;
	width: 0.01px;
}

#u191
{
	z-index: 2;
	height: 987px;
	bottom: 1px;
}

#u191-bw
{
	z-index: 2;
}

#pu192
{
	width: 0.01px;
	margin-left: -100px;
}

#u192,#u192-bw
{
	z-index: 4;
	height: 83px;
}

#u255
{
	z-index: 14;
	height: 29px;
	width: 137px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 1018px;
}

#menuu256
{
	z-index: 17;
	width: 606px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 412px;
}

#u257
{
	width: 150px;
	min-height: 29px;
	margin-right: -10000px;
}

#u258
{
	width: 149px;
}

#u258:hover
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u258:active
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u278
{
	width: 150px;
	min-height: 29px;
	margin-right: -10000px;
	left: 152px;
}

#u279
{
	width: 149px;
}

#u258.MuseMenuActive,#u279:hover
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u279:active
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u283
{
	width: 148px;
	top: 29px;
}

#u436
{
	width: 148px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u436:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u450
{
	width: 148px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u436.MuseMenuActive,#u450:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u453
{
	height: 33px;
	width: 144px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u455
{
	width: 148px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u450.MuseMenuActive,#u455:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u462
{
	width: 148px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u455.MuseMenuActive,#u462:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u456,#u463
{
	height: 33px;
	width: 144px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u284,#u435,#u447,#u454,#u461,#u468
{
	width: 148px;
}

#u469
{
	width: 148px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u462.MuseMenuActive,#u469:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u469.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u438,#u471
{
	height: 33px;
	width: 144px;
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u291
{
	width: 150px;
	min-height: 29px;
	margin-right: -10000px;
	left: 304px;
}

#u294
{
	width: 149px;
}

#u279.MuseMenuActive,#u294:hover
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u294:active
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u292
{
	width: 150px;
	top: 29px;
}

#u476
{
	width: 150px;
	padding-bottom: 13px;
	margin-right: -10000px;
}

#u476:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u488
{
	width: 150px;
	padding-bottom: 13px;
	margin-right: -10000px;
}

#u476.MuseMenuActive,#u488:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u495
{
	width: 150px;
	padding-bottom: 13px;
	margin-right: -10000px;
}

#u488.MuseMenuActive,#u495:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u500
{
	width: 150px;
	padding-bottom: 13px;
	margin-right: -10000px;
}

#u495.MuseMenuActive,#u500:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u293,#u475,#u485,#u492,#u499,#u506
{
	width: 150px;
}

#u507
{
	width: 150px;
	padding-bottom: 13px;
	margin-right: -10000px;
}

#u500.MuseMenuActive,#u507:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u507.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u478,#u490,#u496,#u503,#u510
{
	height: 23px;
	width: 146px;
	margin-right: -10000px;
	top: 6px;
	left: 2px;
}

#u317
{
	width: 150px;
	min-height: 29px;
	margin-right: -10000px;
	left: 456px;
}

#u320
{
	width: 149px;
}

#u294.MuseMenuActive,#u320:hover
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u320:active
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u320.MuseMenuActive
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u261,#u281,#u297,#u322
{
	height: 29px;
	width: 149px;
	margin-right: -10000px;
}

#slideshowu607
{
	z-index: 96;
	width: 0.01px;
	height: 384px;
	left: -42px;
	margin-top: 37px;
	position: relative;
}

#u611
{
	position: absolute;
	width: 973px;
	height: 379px;
	background-color: transparent;
	left: 30px;
}

#u611popup
{
	z-index: 97;
}

#u616
{
	z-index: 98;
	width: 973px;
	height: 379px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u612
{
	z-index: 100;
	width: 973px;
	height: 379px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u614
{
	z-index: 102;
	width: 973px;
	height: 379px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u616 .clip_frame,#u612 .clip_frame,#u614 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u619
{
	position: absolute;
	width: 325px;
	background-color: transparent;
	top: 150px;
	left: 655px;
}

#u619popup
{
	z-index: 104;
}

#u622-4
{
	z-index: 105;
	width: 305px;
	min-height: 214px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u620-4
{
	z-index: 109;
	width: 305px;
	min-height: 214px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u621-4
{
	z-index: 113;
	width: 305px;
	min-height: 214px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u624-4
{
	position: absolute;
	width: 10px;
	min-height: 26px;
	background: transparent url("../images/u624-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, color-stop(4%, #7F7F7F),to(rgba(0,0,0,0.5)));
	background: -webkit-linear-gradient(left,#7F7F7F 4%,rgba(0,0,0,0.5) );
	background: linear-gradient(to right,#7F7F7F 4%,rgba(0,0,0,0.5) );
	border-style: none;
	border-color: transparent;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	color: #00FF00;
	letter-spacing: -1px;
	line-height: 26px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 167px;
}

#u624-4popup
{
	z-index: 117;
}

#u608-4
{
	position: absolute;
	width: 10px;
	min-height: 26px;
	background: transparent url("../images/u624-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, color-stop(4%, #7F7F7F),to(rgba(0,0,0,0.5)));
	background: -webkit-linear-gradient(left,#7F7F7F 4%,rgba(0,0,0,0.5) );
	background: linear-gradient(to right,#7F7F7F 4%,rgba(0,0,0,0.5) );
	border-style: none;
	border-color: transparent;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	color: #00FF00;
	letter-spacing: -1px;
	line-height: 26px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 167px;
	left: 1002px;
}

#u608-4popup
{
	z-index: 121;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu696
{
	width: 0.01px;
	margin-left: -25px;
	margin-top: 53px;
}

#u696
{
	z-index: 170;
	width: 841px;
	height: 52px;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#id_nom_recherche
{


	z-index: 170;
	display:block;
	margin-top:-300px;
	width: 780px;
	height: 50px;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;



}
.button 
{
	font: 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	z-index: 170;
	display:block;
	font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 230px;
	height: 52px;
	background-color: ##9DC45F;
	border-radius: 5px;
	position: absolute;
	margin-left:780px;
	margin-top:-51px;

	padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
	
}
#buttonu697
{
	z-index: 171;
	width: 144px;
	border-color: #787878;
	background-color: #006092;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 841px;
}

#buttonu697:hover
{
	background-color: #0CC517;
	width: 144px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#buttonu697:active
{
	background-color: #0CFF17;
	width: 144px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#buttonu697.ButtonSelected
{
	background-color: #006092;
	width: 144px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#u699
{
	z-index: 173;
	height: 27px;
	width: 111px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 23px;
	background: url("../images/u699.png") no-repeat 0px 0px;
}

#buttonu697:hover #u699
{
	background: url("../images/u699-r.png") no-repeat 0px 0px;
}

#tab-panelu648
{
	z-index: 125;
	width: 985px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	left: -25px;
	margin-top: 50px;
	position: relative;
}

#u662
{
	z-index: 126;
	width: 985px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u667
{
	z-index: 127;
	width: 328px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u667:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 328px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u668-4
{
	z-index: 128;
	width: 328px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u667:hover #u668-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#u671
{
	z-index: 132;
	width: 328px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 328px;
	border-width: 1px 0px 1px 1px;
}

#u671:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 328px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u667.TabbedPanelsTabSelected,#u671.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 328px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u674-4
{
	z-index: 133;
	width: 328px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u671:hover #u674-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#u667.TabbedPanelsTabSelected #u668-4,#u671.TabbedPanelsTabSelected #u674-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#u663
{
	z-index: 137;
	width: 327px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 656px;
}

#u663:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 327px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u663.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 327px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u666-4
{
	z-index: 138;
	width: 327px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u663:hover #u666-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 327px;
	margin: 0px -10000px 0px 0px;
}

#u663.TabbedPanelsTabSelected #u666-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 327px;
	margin: 0px -10000px 0px 0px;
}

#u649
{
	z-index: 142;
	width: 985px;
	background-color: transparent;
	position: relative;
}

#u650
{
	z-index: 143;
	width: 983px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 47px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u652
{
	z-index: 150;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u651-6
{
	z-index: 144;
	width: 270px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 170px;
}

#u654
{
	z-index: 152;
	width: 983px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 47px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u656
{
	z-index: 159;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u655-6
{
	z-index: 153;
	width: 270px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 170px;
}

#u658
{
	z-index: 161;
	width: 983px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 47px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u659
{
	z-index: 168;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u616_img,#u612_img,#u614_img,#u652_img,#u656_img,#u659_img
{
	padding-right: 1px;
}

#u661-6
{
	z-index: 162;
	width: 270px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 170px;
}

#u651-2,#u655-2,#u661-2
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u651-4,#u655-4,#u661-4
{
	line-height: 20px;
	color: #999999;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.TabbedPanelsTab /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu190
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 69px;
}

#u190,#u190-bw
{
	z-index: 3;
	height: 64px;
}

#u209-4
{
	z-index: 5;
	margin-right: -10000px;
	margin-top: 18px;
	left: 499px;
}

#u210-4
{
	z-index: 9;
	margin-right: -10000px;
	margin-top: 36px;
	left: 986px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 83px;
	padding-bottom: 6px;
}

#page .verticalspacer
{
	clear: both;
}

